/*----------------------------------- Text Styles*/

body {
    font-family: 'ZCOOL XiaoWei', serif;
    background-color: skyblue;
    color: black;
}

a {
    color: black;
}


/*----------------------------------- General Styles*/
.title {
    padding-bottom: 40px;
}

.container-image {
    padding: 0px;
    font-style: italic;
    text-align: center;
}

.container-image img {
  
    width: 100%;
}


/*------------------------------------NavBar*/

.nav-bg-color {
    background-color: #87cbf6;
}

/*----------------------------------- Home*/

.home-container {

    height: 100vh;


    background: url('../images/Caracas1.jpg') no-repeat center fixed;

    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 0;
    margin: 0;

}

.container-ccs {
    color: white;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 3px;


}

.ccs {
    padding: 25px 0 40px;
}

.title-holiday {
    padding: 20px 0 10px
}

.jumbotron {
    background-color: #ffffff82;
}

.list-ccs-opctions {
    font-size: large;
    list-style-type: none;
    color: black;
    text-shadow: 5px 5px 10px white;
    margin: 0;
    padding: 0;
}

/*----------------------------------- About*/

.about-container {
    background-color: skyblue;
    padding: 50px 50px 0px;
}


/*----------------------------------- Attractions*/
.ccstitle {
    padding: 50px;
}

/*----------------------------------- Bar-restaurants*/
.bar-restaurants-conatainer{
    background-color: white;
}

/*----------------------------------- Accommodation*/
.accommodation-conatainer{
    background-color: skyblue;
}

/*----------------------------------- Maps*/

#map {
    height: 300px;
}

/*----------------------------------- Contact*/

.container-contact {
    background: url('../images/Caracas1.jpg') no-repeat center fixed;
    background-size: cover;
    padding: 5%;
}

.container-contact-content {
    padding-bottom: 5%;
}

.container-contact-text {
    padding: 5% 10%;
    color: white;
    text-shadow: 5px 5px 10px black;
    letter-spacing: 3px;
}

.container-contact-form {
    padding: 0 15%;
}

.description {
    margin-bottom: 10px;
}



/*----------------------------------- Footer*/

footer {
    background-color: #5db4eb;
    min-height: 120px;
    margin: 0;
    display: inline-block;
    text-align: center;
    padding-top: 30px;
}

.social-links {
    color: black;
    padding-bottom: 15px;
    display: inline-block;
}

/*----------------------------------- FMEDIA QUERIES*/

@media (max-width:760px) {
    .container-contact-form {
        padding: 5%;
    }

}

@media (min-width:760px) {
    .container-image {
        padding: 0px 100px;

    }

    .container-image img {
       
        width: 100%;
    }

}

/*assets/images/Caracas1.jpg  */
